.card {
    width: 400px;
    border: 3px rgb(165, 165, 165) solid;
    margin: .5rem 0;
    border-radius: 2%;
}

.card > .card-body {
    border-top: 3px double rgb(165, 165, 165);
    padding: 1rem;
}

.card-body > .card-desc {
    text-align: justify;
}
